{% extends "easy_pdf/base.html" %}

{% block header %} {% endblock %}

{% block extra_head %}
	<style>
		.programming-language, .candidate-name{
			font-size: 24px;
		}

		#test-name{
			text-decoration: underline;
		}

		 .question-title{
		    color: #222222;
		    line-height: 1.5px;
		    font-size: 20px;
		    font-weight: normal;
		    margin-bottom: 8px;
		}

		.language-title-test{
		    margin: 15px 0;
		    font-size: 30px;
		}

		.answer-box{
		    padding: 25px;
		    background-color: #F3F3F3;
		}

		.divider{
			margin: 30px 0px;
			border-bottom: 2px solid #ccc;
		}

		.text-success{
			color: #3C763D;
		}

		.text-primary{
			color: #428BCA;
			margin-bottom: 40px;
		}

		.text-warning{
			color: #8A6D3B;
		}

		.text-center{
			text-align: center;
		}

		.pull-left{
			float: left;
		}

		.clear{
			clear: both;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="row">	
	  	<div class="test-container show">
			<div class="test-question-list" style="margin-top: 20px;">
				<h1  class="language-title-test text-center">
					<span id="test-name">Test Name:</span> <span class="text-warning">{{ answers.0.candidate.test.name }}</span>
				</h1>
				<div class="clear"></div>

				<h1 class="text-center programming-language">Programming Language 
					<br>
					<span class="text-success">{{ answers.0.candidate.test.language.name }}</span></h1>
				<h1 class="text-center candidate-name">Candidate Name  
					<br>
					<span class="text-primary">{{ answers.0.candidate.name }}<span>
				</h1>
				<div class="clear"></div>
				

				{% for answer in answers %}
					<div>
						<h2 class="question-title text-center" >
							{{ forloop.counter }}. {{ answer.question.question }}
						</h2>
						<div class="answer-box">
							<textarea class="form-control">{{ answer }}</textarea>
						</div>
						<hr class="divider">
					</div>
					<br>
					<br>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}