{% extends 'base.html' %}
{% load static %}

{% block extra_head%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/language_question.css' %}">
{% endblock %}

{% block content %}
	<div class="row">	
		<div class="form-group write-name-group animated fadeInDown">
			<div ng-hide="nameInserted">
			    <h1> Escriba Su Nombre Completo<br> y <br>Presione <u>Enter</u></h1>
			    <br>
			    <h1><i class="fa fa-hand-o-down animated-hand bounce"></i></h1>
			    <input ng-model="nameText" ng-enter class="form-control" id="inputdefault" type="text" placeholder="Nombre">
		    </div>
	  	</div>
	  	<div class="exam-container">
			<div ng-show="nameInserted" class="keep-calm">
				<h1>
					<i class="fa fa-hand-peace-o" class=""></i> 
						<br>Keep <br>Calm <br> {[{nameText}]} <br>And <br>Good Luck<br>With The Exam!
				</h1>
				<hr>
			</div>
			<div class="exam-question-list">
				<h1 ng-show="nameInserted" class="language-title-exam">
					{[{questions.language.name}]} {[{questions.language.exam.exam}]}  Exam
				</h1>
				<div ng-show="nameInserted" ng-repeat="question in questions.questions">
					<h2 class="question-title" >
						{[{ $index + 1 }]}. {[{question.question}]}
					</h2>
					<div ui-ace="{
					  useWrapMode : true,
					  showGutter: true,
					  theme:'twilight',
					  mode: '{[{questions.language.name | lowercase}]}'
					}"></div>
					<br>
					<hr>
				</div>
				<button  ng-show="submitButton && nameInserted" class="btn btn-success btn-submit">Submit</button>
				<br>
				<br>
			</div>
		</div>
	</div>

	<div class="ui basic visible modal">
		<i class="close icon"></i>
		<div class="header">
			Archive Old Messages
		</div>
		<div class="image content">
			<div class="image">
			  <i class="archive icon"></i>
			</div>
			<div class="description">
			  <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
			</div>
		</div>
		<div class="actions">
			<div class="two fluid ui inverted buttons">
				<div class="ui red basic inverted button">
					<i class="remove icon"></i>
					No
				</div>
				<div class="ui green basic inverted button">
					<i class="checkmark icon"></i>
					Yes
				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'js/semantic-modal.js' %}"></script>
	<script>
		$(document).ready(function(){
			$('.btn-submit').click(function(){
				alert('hello');
			})
		})
	</script>
{% endblock %}

{% block extra_bottom %}

{% endblock %}