.exam-question-list{
	border: 2px dotted #ccc;
	border-radius: 80px;
	padding: 40px;
	background-color: rgba(255,255,255,0.5);
    margin-top: 50px;
}


.exam-question-list > h1{
    padding-bottom: 25px;
}

.exam-question-list > h2{
	border-bottom: 1px dotted #ddd;
	padding-bottom: 25px;
}

.exam-question-list .ace_editor{
    border: 4px solid #ccc;
    border-radius: 10px;
}

