.container{
    padding-bottom: 50px;
}

h1, h2, h3, td, a{
    font-family: 'Raleway', sans-serif;
}

h4, h5, h6, p,
button, label, th{
    font-family: 'Ubuntu', sans-serif;
}

.navbar-brand{
    padding: 2px 15px;
}

.nav-tabs{
    border-bottom: 0px;
}

#background-image {
    min-height: 100%;
    width: 100%;
}

#background-image:before{
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/backgrounds/gplaypattern.png);
    width: 100%;
    height: 100%;
    opacity : 0.4;
    z-index: -1;
}

.language{
    border: 1px dotted rgba(0,0,0,0.0);
    display: block;
    color:black;
    text-decoration: none;
    margin-bottom: 10px;
}

.language:hover{
    color: none;
    text-decoration: none;
    border: 1px solid rgb(82, 152, 252);
    border-radius: 8px;
    box-shadow:rgba(82, 152, 252, 0.498039) 0px 0px 5px 0px;

}

.language:visited{
    color:none;
    text-decoration: none;
    border: 1px solid rgb(82, 152, 252);
    border-radius: 8px;
    box-shadow:rgba(82, 152, 252, 0.498039) 0px 0px 5px 0px;

}

.language>h3{
    text-align: center;
    margin-top: 14px;
}

.language>div>img{
    width: 71%;
    margin: 0 auto;
    display: block;
}

.css3{
    width: 71% !important;
}

#language-title{
    text-align: center;
}

 .question-title{
    color: #222222;
    line-height: 26px;
    margin: 20px 0;
}

.ace_editor { height: 400px; }

.ace_print-margin{
    left: 100%!important;
}

.btn-submit{
    display: block;
    width: 100%;
    font-size: 1.4em;
}

.write-name-group{
    margin: 50px 0;
}

.write-name-group > div > h2{
    text-align: center;
    font-size: 3.0em;
    color:#222222;
}

.write-name-group > div > h2 > i {
    font-size: 2em;
    margin-bottom: 18px;
}

.write-name-group >div> input{
    font-family: "BrushScriptMT", helvetica, arial;
    display: block;
    width: 100%;
    height: 80px;
    padding: 6px 12px;
    font-size: 3.5em;
    line-height: 1.42857143;
    color: #555;
    text-align: center;
    background-color: rgba(240,248,255, 1);
    border: none;
}


.write-name-group >div> input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-family:  helvetica, arial;
}
.write-name-group >div> input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family:  helvetica, arial;
   opacity:  1;
}
.write-name-group >div> input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family:  helvetica, arial;
   opacity:  1;
}
.write-name-group >div> input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family:  helvetica, arial;
}

.exam-container{
    /*display: none;*/
}
.keep-calm{
    font-family: 'keepcalm', helvetica, arial;
    text-align: center;
    font-size: 3em;
    margin-bottom: 50px;
}

.keep-calm> h1{
    line-height: 50px;
}

.keep-calm > h1 > i{
    font-size: 4em;
    margin-bottom: 15px;
}

.language-title-exam{
    margin: 15px 0;
    font-size: 3.5em;
    text-decoration: underline;
}

.clear{
    clear: both;
}

#header{
    border-radius: 0px;
    background: #E8E8E8;
    height: 77px;
    box-shadow: 0px 5px 8px #aaa;
}

.tp-color-background{
    background-color: #EFB930;
    height: 8px;
}

#header-left{
    padding: 5px 25px;
}

.header-right > ul > li a{
    color: #222;
}

.header-right > ul > li > a > h3{
    margin-left: 20px;
    line-height: 37.5px;
    margin-right: 20px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding-top: 6px;
    margin-top: 0px;
    margin-bottom: 4px;
}

.header-right > ul > li > a:hover{
    background-color: #404041;
    color: white!important;
    -webkit-transition: .25s ease;
       -moz-transition: .25s  ease;
        -ms-transition: .25s  ease;
         -o-transition: .25s  ease;
            transition: .25s  ease;
    text-decoration: none;
    border-radius: 0px;

}

.logo-img{
    width: 170px;
}

#footer{
    background-color: #282828;
    color: #D8D8D8;
    padding: 15px;
    box-shadow: 0px -8px 8px #bbb;
    width: 100%;
    height: 60px;
}

#copyright{
    text-shadow: 2px 7px 3px #111;
}

.language-box{
    border: 1px solid #eee;
    border-radius: 30px;
    background-color: rgba(230, 230, 230, .1);
}

.test-language-list img{
    width: 30px;
    height: 30px;
}

.test-language-list p{
    margin-top: 5px;
    margin-bottom: 0px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) { 
    #navbar{
        width: 100%;
        box-shadow: rgb(170, 170, 170) 0px 5px 8px;
        background-color: rgb(232, 232, 232);
    }

    .nav > li{
        width: 100%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) {
    #background-image {
        position: absolute;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #background-image {
        position: absolute;
    }
}