.container{
    padding-bottom: 50px;
}

h1, h2, h3, td, a{
    font-family: 'Raleway', sans-serif;
}

h4, h5, h6, p,
button, label, th{
    font-family: 'Ubuntu', sans-serif;
}

.navbar-brand{
    padding: 2px 15px;
}

.nav-tabs{
    border-bottom: 0px;
}

#background-image {
    min-height: 100%;
    width: 100%;
}

#background-image:before{
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/backgrounds/gplaypattern.png);
    width: 100%;
    height: 100%;
    opacity : 0.4;
    z-index: -1;
}

.language{
    border: 1px dotted rgba(0,0,0,0.0);
    display: block;
    color:black;
    text-decoration: none;
    margin-bottom: 10px;
}

.language:hover{
    color: none;
    text-decoration: none;
    border: 1px solid rgb(82, 152, 252);
    border-radius: 8px;
    box-shadow:rgba(82, 152, 252, 0.498039) 0px 0px 5px 0px;

}

.language:visited{
    color:none;
    text-decoration: none;
    border: 1px solid rgb(82, 152, 252);
    border-radius: 8px;
    box-shadow:rgba(82, 152, 252, 0.498039) 0px 0px 5px 0px;

}

.language>h3{
    text-align: center;
    margin-top: 14px;
}

.language>div>img{
    width: 71%;
    margin: 0 auto;
    display: block;
}

.css3{
    width: 71% !important;
}

#language-title{
    text-align: center;
}

 .question-title{
    color: #222222;
    line-height: 26px;
    margin: 20px 0;
}

.ace_editor { height: 400px; }

.ace_print-margin{
    left: 100%!important;
}

.btn-submit{
    display: block;
    width: 100%;
    font-size: 1.4em;
}

.write-name-group{
    margin: 50px 0;
}

.write-name-group > div > h2{
    text-align: center;
    font-size: 3.0em;
    color:#222222;
}

.write-name-group > div > h2 > i {
    font-size: 2em;
    margin-bottom: 18px;
}

.write-name-group >div> input{
    font-family: "BrushScriptMT", helvetica, arial;
    display: block;
    width: 100%;
    height: 80px;
    padding: 6px 12px;
    font-size: 3.5em;
    line-height: 1.42857143;
    color: #555;
    text-align: center;
    background-color: rgba(240,248,255, 1);
    border: none;
}


.write-name-group >div> input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-family:  helvetica, arial;
}
.write-name-group >div> input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family:  helvetica, arial;
   opacity:  1;
}
.write-name-group >div> input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family:  helvetica, arial;
   opacity:  1;
}
.write-name-group >div> input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family:  helvetica, arial;
}

.exam-container{
    /*display: none;*/
}
.keep-calm{
    font-family: 'keepcalm', helvetica, arial;
    text-align: center;
    font-size: 3em;
    margin-bottom: 50px;
}

.keep-calm> h1{
    line-height: 50px;
}

.keep-calm > h1 > i{
    font-size: 4em;
    margin-bottom: 15px;
}

.language-title-exam{
    margin: 15px 0;
    font-size: 3.5em;
    text-decoration: underline;
}

.clear{
    clear: both;
}

#header{
    border-radius: 0px;
    background: #E8E8E8;
    height: 77px;
    box-shadow: 0px 5px 8px #aaa;
    z-index: 1000;
}

.tp-color-background{
    background-color: #EFB930;
    height: 8px;
}

#header-left{
    padding: 5px 25px;
}

.header-right > ul > li a{
    color: #222;
}

.header-right > ul > li > a > h3{
    margin-left: 20px;
    line-height: 37.5px;
    margin-right: 20px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding-top: 6px;
    margin-top: 0px;
    margin-bottom: 4px;
}

.header-right > ul > li > a:hover{
    background-color: #404041;
    color: white!important;
    -webkit-transition: .25s ease;
       -moz-transition: .25s  ease;
        -ms-transition: .25s  ease;
         -o-transition: .25s  ease;
            transition: .25s  ease;
    text-decoration: none;
    border-radius: 0px;

}

.logo-img{
    width: 170px;
}

#footer{
    background-color: #282828;
    color: #D8D8D8;
    padding: 15px;
    box-shadow: 0px -8px 8px #bbb;
    width: 100%;
    height: 60px;
}

#copyright{
    text-shadow: 2px 7px 3px #111;
}

.language-box{
    border: 1px solid #eee;
    border-radius: 30px;
    background-color: rgba(230, 230, 230, .1);
}

.test-language-list img{
    width: 30px;
    height: 30px;
}

.test-language-list p{
    margin-top: 5px;
    margin-bottom: 0px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) { 
    #navbar{
        width: 100%;
        box-shadow: rgb(170, 170, 170) 0px 5px 8px;
        background-color: rgb(232, 232, 232);
    }

    .nav > li{
        width: 100%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) {
    #background-image {
        position: absolute;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #background-image {
        position: absolute;
    }
}

.table{
    margin-top: 85px;
}

.spinner-container{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.85);
}

/*Loading css*/

.spinner {
    position: fixed;
    width: 60px;
    height: 60px;
    margin: 100px auto;
    left: 50%;
    top: 20%;
}

.double-bounce1, .double-bounce2 {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  background-color: white;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*Modal CSS*/
.splash {
    position: fixed;
    background: rgba(0,0,0,0.85);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    transition: opacity 0.5s, visibility 0s 0.5s;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
}
 
.splash-open.splash {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
 
.splash .splash-inner {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0,0,150px);
    transform: translate3d(0,0,150px);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}
 
 
.splash-open.splash .splash-inner {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
 
.splash .splash-content {
    width: 660px;
    height: 350px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -175px 0 0 -330px;
    color: #fff;
    font-size: 18px;
}


/******************************************************
    OUTLINE BUTTONS
******************************************************/
.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}
.btn-success.outline {
    border: 2px solid #00bf6f;
    color: #00bf6f;
}
.btn-success.outline:hover, .btn-success.outline:focus, .btn-success.outline:active, .btn-success.outline.active, .open > .dropdown-toggle.btn-success {
    border-color: #39bf87;
    color: #39bf87;
}
.btn-success.outline:active, .btn-success.outline.active {
    border-color: #008c52;
    color: #008c52;
    box-shadow: none;
}
.btn-info.outline {
    border: 2px solid #31cde8;
    color: #31cde8;
}
.btn-info.outline:hover, .btn-info.outline:focus, .btn-info.outline:active, .btn-info.outline.active, .open > .dropdown-toggle.btn-info {
    border-color: #5fd4e8;
    color: #5fd4e8;
}
.btn-info.outline:active, .btn-info.outline.active {
    border-color: #35a2b5;
    color: #35a2b5;
    box-shadow: none;
}
.btn-warning.outline {
    border: 2px solid #eb8f34;
    color: #eb8f34;
}
.btn-warning.outline:hover, .btn-warning.outline:focus, .btn-warning.outline:active, .btn-warning.outline.active, .open > .dropdown-toggle.btn-warning {
    border-color: #eba259;
    color: #eba259;
}
.btn-warning.outline:active, .btn-warning.outline.active {
    border-color: #b87430;
    color: #b87430;
    box-shadow: none;
}
.btn-danger.outline {
    border: 2px solid #f25454;
    color: #f25454;
}
.btn-danger.outline:hover, .btn-danger.outline:focus, .btn-danger.outline:active, .btn-danger.outline.active, .open > .dropdown-toggle.btn-danger {
    border-color: #f26d6d;
    color: #f26d6d;
}
.btn-danger.outline:active, .btn-danger.outline.active {
    border-color: #bf4343;
    color: #bf4343;
    box-shadow: none;
}