{% block content %}
	<h1 id="language-title" class="text-center">Programming languages</h1>
	<hr />
	<a href="/#/test/candidates/" class="btn btn-warning pull-right">Candidates Test List</a>
	<table class="table">
		<tr>
			<th>Language</th>
			<th>Test Name</th>
			<!-- <th>Questions Count</th> -->
			<th>Created Date</th>
			<th>Action</th>
		</tr>
		<tr ng-repeat="test in tests" class="test-language-list">
			<td>
				<img class="pull-left" ng-show="test.language.name === 'C#'" ng-src="../static/img/cSharp.png" alt="" />
				<img class="pull-left" ng-show="test.language.name !== 'C#'" ng-src="../static/img/{[{test.language.name|lowercase}]}.png" alt="" />
				<p class="pull-left">{[{ test.language.name }]}</p>
			</td>
			<td><p>{[{ test.name }]}</p></td>
			<!-- <td>10</td> -->
			<td><p>{[{ test.created_date }]}</p></td>
			<td>
				<a class="btn btn-primary btn-sm" href="#/language/{[{ test.language.slug }]}/{[{ test.slug }]}"><i class=""></i> Take Test</a>
			</td>
		</tr>
	</table>
{% endblock %}