{% load static %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/language_question.css' %}">
{% endblock %}

{% block content %}
	<div class="row">	
	  	<div class="exam-container show">
			<div class="exam-question-list" style="margin-top: 40px;">
				<h1  class="language-title-exam text-center">
					Test Name <span class="text-warning">{[{ data[0].candidate.exam.name }]}</span>
				</h1>
				<h1 class="text-center">Programming Language 
				<br>
				<span class="text-success">{[{ data[0].candidate.exam.language.name }]}</span></h1>
				<h2 class="text-center">Candidate Name  
				<br>
				<span class="text-primary">{[{ data[0].candidate.name }]}<span></h2>
				<h3 class="text-center"> {[{ data[0].questions.name }]}</h3>
				
				<div ng-repeat="answer in data | orderBy:'order'">
					<h2 class="question-title text-center" >
						{[{ $index + 1 }]}. {[{ answer.question.question }]}
					</h2>
					<!--<div class="answer-box">
						<textarea class="form-control">{[{ answer.answer }]}</textarea>
					</div>-->
					<div  data-id="{[{question.id}]}" data-order="{[{question.order}]}" ui-ace="{
					  useWrapMode : true,
					  showGutter: true,
					  theme:'twilight',
					  onLoad : aceLoaded,
					  mode: '{[{ data[0].candidate.exam.language.name | lowercase}]}'
					}" ace-text text="{[{answer.answer}]}"></div>
					<br>
					<hr>
				</div>
				<a submit class="btn btn-primary btn-submit" href="{% url 'test-candidate-pdf' %}" target="_blank">Convert to PDF</a>

				<br>
				<br>
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_bottom %}
	<script>
    $(function() {
        $('text-area').each(function() {
        	console.log("hello")
            $(this).height($(this).prop('scrollHeight'));
        });
    });
	</script>
{% endblock %}


