{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}TP Interview{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
    <link rel="shortcut icon" type="image/png" href="{%static "img/favicon.ico"%}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css"%}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="{% static "css/animations.css" %}">
    <link rel="canonical" href="https://wines.com" />
    <meta property="og:site_name" content="Wines"/>
    <meta property="og:description" content="Seleccion de vinos a la carta."/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="{% static "img/notaso-flyer.png" %}"/>
   
    <script src="{% static 'js/vendor/angular.min.js' %}"></script>
    <script src="{% static 'js/vendor/angular-route.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-2.1.0.js' %}"></script>

    <script type="text/javascript" src="{% static "js/app.js" %}"></script>
    <script type="text/javascript" src="{% static "js/controller/controller.js" %}"></script>
    <script src="{% static 'js/vendor/ace/ace.js' %}"></script>
    <script src="{% static 'js/vendor/ace/ui-ace.min.js' %}"></script>

    {% block extra_head %}
        <!-- <meta property="og:title" content="."/>
        <meta property="og:url" content="https://.com/"/> -->
    {% endblock %}
</head>
<body>
    {% block header %}{% endblock %}

    {% block container %}
        <div id="background-image">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
    {% endblock %}
    
    {% block extra_body %}{% endblock %}
    
    {% block footer %}{% endblock %}

    {% block js %}
       

    {% endblock %}
    {% block extra_bottom %}{% endblock %}
</body>
</html>