{% extends 'base.html' %}
{% load static %}

{% block header %}
	<div id="header">
		<div class="tp-color-background"></div>
        <div id="header-left" class="pull-left">
            <a href="">
            	<img class="logo-img" src="{% static 'img/logo.png'%}"  alt="">
            </a>
        </div>
        <div id="header-right" class="pull-right">
            <a href="" class="pull-right"><h3 class="header-right-h3">Test List</h3></a>
            <a href="" class="pull-right"><h3>Programming Languages</h3></a>
        </div>
    </div>
{% endblock %}

{% block content %}
	<div ng-app="starter">
		<div ng-view></div>
	</div>
{% endblock %}

{% block footer %}
	 <div id="footer" class="text-center">
        <p id="copyright">
            Copyright © {% now "Y" %}. All rights reserved.
        </p>
    </div>
{% endblock %}